<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ProjectModule/stylesheet.css' %}">
    <title>FasLog &copy;</title>
    <style type="text/css">
    	@media screen and (max-width: 600px) 
    	{
  			ul.nav_items li.right, 
  			ul.nav_items li {float: none;}
		}
    </style>
</head>
<body>
<nav>
    <ul class="nav_items">
        <li><a href="about.html">About Us</a></li>
        <li><a href="#">Home</a></li>
    </ul>
</nav>

</body>
</html>